{% extends "gallery/gallery.html" %}

{% block photos %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth01.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth01.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth02.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth02.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth03.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth03.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth04.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth04.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth05.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth05.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth06.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth06.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth07.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth07.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth08.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth07]8.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth09.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth09.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/birth/birth10.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/birth/birth10.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
{% endblock %}