{% extends "gallery/gallery.html" %}

{% block photos %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family01.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family01.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family02.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family02.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family03.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family03.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family04.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family04.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family05.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family05.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family06.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family06.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family07.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family07.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family08.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family08.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family09.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family09.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family10.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family10.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family11.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family11.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family12.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family12.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family13.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family13.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/family/family14.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/family/family14.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
{% endblock %}