{% extends "gallery/gallery.html" %}

{% block photos %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/maternity/maternity01.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/maternity/maternity01.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/maternity/maternity02.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/maternity/maternity02.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/maternity/maternity03.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/maternity/maternity03.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/maternity/maternity04.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/maternity/maternity04.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/maternity/maternity05.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/maternity/maternity05.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/maternity/maternity06.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/maternity/maternity06.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/maternity/maternity07.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/maternity/maternity07.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/maternity/maternity08.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/maternity/maternity08.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
{% endblock %}