{% extends "gallery/gallery.html" %}

{% block photos %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed01.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed01.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed02.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed02.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed03.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed03.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed04.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed04.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed05.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed05.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed06.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed06.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed07.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed07.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed08.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed08.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed09.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed09.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed10.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed10.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed11.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed11.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed12.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed12.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed13.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed13.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item">
    <a href="{{ url_for('static', filename='imgs/gallery/themed/themed14.jpg') }}" class="image-link"><img src="{{ url_for('static', filename='imgs/gallery/themed/themed14.jpg') }}" alt="" class="img-fluid"><div class="overlay"></div></a> 
  </div>
{% endblock %}