{% extends "gallery/gallery.html" %}

{% block photos %}
  <img src="{{ url_for('static', filename='imgs/gallery/wedding/wedding01.jpg') }}" alt="">
  <img src="{{ url_for('static', filename='imgs/gallery/wedding/wedding02.jpg') }}" alt="">
  <img src="{{ url_for('static', filename='imgs/gallery/wedding/wedding03.jpg') }}" alt="">
  <img src="{{ url_for('static', filename='imgs/gallery/wedding/wedding04.jpg') }}" alt="">
  <img src="{{ url_for('static', filename='imgs/gallery/wedding/wedding05.jpg') }}" alt="">
  <img src="{{ url_for('static', filename='imgs/gallery/wedding/wedding06.jpg') }}" alt="">
  <img src="{{ url_for('static', filename='imgs/gallery/wedding/wedding07.jpg') }}" alt="">
{% endblock %}