#about-lead {
  width: 400px;
  height: 400px;
}

@media (max-width: 991px) {
  #about-lead {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 400px) {
  #about-lead {
    width: 250px;
    height: 250px;
  }
}