{% extends "investments/investments.html" %}

{% block prices %}
  <img src="{{ url_for('static', filename='imgs/gallery/birth/birth09.jpg') }}" alt="" class="img-fluid">

      <div class="birth">
          <h2><i>Births</i></h2>
          <div class="package">
              <h3>A.    Big Baby Bundle | $775</h3>
              <p>This includes coverage from 6cm-Birth. We will also stay up to 2 hours after birth. We will be on call from 36 weeks-Delivery. You will receive 100 edited digital images.  Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire. All of your photos will be placed on a thumb drive for keepsake. Additionally, you will receive 5-5x7 prints of your choice. These will be printed from a professional lab that I work with to ensure proper colorization.
              <br>
              <strong>*6 HOURS MAX</strong></p>
          </div>
          <div class="package">
              <h3>B.    Little Baby Bundle | $550</h3>
              <p>This includes coverage from 7cm-Birth. We will also stay up to 1 hour after birth. We will be on call from 37 weeks-Delivery. You will receive 45 edited digital images.  Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire. All of your photos will be placed on a thumb drive for keepsake.
              <br>
              <strong>*6 HOURS MAX</strong></p>
          </div>
      </div>

      <div class="fresh-48 mt-5">
          <h2><i>Fresh 48's</i></h2>
          <div class="package">
              <h3>A.   Basic | $100</h3>
              <p>This session runs up to 30 minutes of shooting and you will receive 8 edited digital images. Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire.</p>
          </div>
          <div class="package">
              <h3>B.    Standard | $175</h3>
              <p>This session runs up to 30 minutes of shooting and you will receive 8 edited digital images. Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire.</p>
          </div>
          <div class="package">
              <h3>C.    Premium | $275</h3>
              <p>This session runs up to 30 minutes of shooting and you will receive 8 edited digital images. Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire.</p>
          </div>
      </div>


      <div class="package">
          <h3>Custom Packages</h3>
          <p>If you are working a minimal budget, I can work with you to create a package tailored to your needs.</p>
      </div>
      <div class="disclaimer">
          <p class="text-center">
              <small><strong>*Hair and Make-up services are available for any desired session for an additional $50.</strong></small>

              <br>

              <small><strong>*Locations 30+ miles outside of Cheyenne will be charged mileage fee’s @ $.75/mile*</strong></small>
          </p>
      </div>
{% endblock %}