{% extends "investments/investments.html" %}

{% block prices %}
  <img src="{{ url_for('static', filename='imgs/gallery/maternity/maternity01.jpg') }}" alt="" class="img-fluid">

    <div class="package">
        <h3>A.    Basic | $125</h3>
        <p>This includes up to 30 minutes of shooting. You are permitted one outfit and will receive 8 edited digital images. Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire.</p>
    </div>
    <div class="package">
        <h3>B.    Standard | $180</h3>
        <p>This includes up to 45 minutes of shooting. You are permitted two outfits and will receive 16 edited digital images. Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire. Additionally, you will receive 2-5x7 prints of your choice. These will be printed from a professional lab that I work with to ensure proper colorization.</p>
    </div>
    <div class="package">
        <h3>C.    Premium | $299</h3>
        <p>This includes up to one hour of shooting. You are permitted 3 outfits and 2 locations of your choice. You will receive 35 edited digital images. Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire. Additionally, you will receive 4-5x7 prints of your choice. These will be printed from a professional lab that I work with to ensure proper colorization. All your photos will be placed on a thumb drive for keep sake.</p>
    </div>
    <div class="package">
        <h3>Custom Packages</h3>
        <p>If you are working a minimal budget, I can work with you to create a package tailored to your needs.</p>
    </div>

    <div class="disclaimer">
        <p class="text-center">
            <small><strong>*Hair and Make-up services are available for any desired session for an additional $50.</strong></small>
            <br>
            <small><strong>*Locations 30+ miles outside of Cheyenne will be charged mileage fee’s @ $.75/mile*</strong></small>
        </p>
    </div>
{% endblock %}