{% extends "investments/investments.html" %}

{% block prices %}
  <img src="{{ url_for('static', filename='imgs/gallery/themed/themed03.jpg') }}" alt="" class="img-fluid">
    <div class="themed-announcement">
        <div class="package">
            <h3>A.    Basic | $25</h3>
            <p>This includes up to 10 minutes of shooting and one final announcement shot. Each additional image is $15. Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire</p>
        </div>
        <div class="package">
            <h3>B.    Standard | $125</h3>
            <p>This includes up to 35 minutes of shooting and 8 edited digital images. Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire</p>
        </div>
        <div class="package">
            <h3>C.    Premium | $225</h3>
            <p>This includes up to 35 minutes of shooting and 8 edited digital images. Your photos will be presented in an Online Gallery and you will be able to hand select your favorites. You will receive a print release to print with whatever company you desire</p>
        </div>
    </div>
    <div class="disclaimer">
            <p class="text-center">
                <small><strong>*Hair and make up services are available for any desired session for an additional $50.</strong></small>
            
                <br>
                <small><strong>* Locations 30+ miles outside of Cheyenne will be charged milage fee's @ $.75/mile.</strong></small>
            </p>
    
        </div>
{% endblock %}