{% extends "investments/investments.html" %}

{% block prices %}
  <img src="{{ url_for('static', filename='imgs/gallery/wedding/wedding07.jpg') }}" alt="" class="img-fluid">

   <div class="package">
        <h3>A.    Basic | $400</h3>
        <p>Up to 2 hours of coverage.  This price includes 1 shooter coverage of the ceremony and bridal shots.  All photos will be professionally edited.  You will receive a minimum of 70 photos in an online gallery.</p>
    </div>
    <div class="package">
        <h3>B.    Standard | $800</h3>
        <p>Up to 4 hours of coverage. This price includes 1 shooter coverage of the Ceremony, Bridals, pre & Post ceremony photos. All photos will be Professionally edited. You will receive a minimum of 200 images on a thumb drive for keepsake.</p>
    </div>
    <div class="package">
        <h3>C.    Premium | $1400</h3>
        <p>Up to 6 hours of coverage. This Price includes 2 shooter coverage of the Ceremony, Bridal shots, pre & Post Ceremony photos, & early Reception coverage. All photos will be professionally edited. You will receive a minimum of 300 photos in an online gallery. Your images will also be placed on a thumb drive for keepsake. With this package you will receive a complimentary mini engagement session for your invitations or “save the dates.”</p>
    </div>
    <div class="package">
        <h3>D.    Deluxe | $2200</h3>
        <p>Up to 8 hours of coverage. This price includes 2 shooter coverage of the ceremony, bridal shots, family shots, pre & post ceremony photos, & Reception. All photos will be professionally edited. You will receive a minimum of 400 images in an online gallery. Your images will also be placed on a thumb drive for keepsake. You will receive a complimentary full engagement session for your invitations or “save the dates.” In addition, you will receive 25-5x7 prints of your choice as well as a wedding album made by a professional lab/printing company.</p>
    </div>
    <div class="package">
      <h3>Custom Packages</h3>
      <p>If you are working a minimal budget, I can work with you to create a package tailored to your needs!</p>
    </div>
{% endblock %}