{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form action="#" method="POST">
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" name="first-name" id="first-name" class="form-control">
          </div>
          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" name="last-name" id="last-name" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" class="form-control">
          </div>
          <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}